[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = '3.6'

[dev-packages]
ipython = "*"
hypothesis = "*"

[packages]
toolz = "*"
pandas = "*"
nltk = "*"
tqdm = "*"
comet-ml = "*"
"murmurhash3" = "*"
sklearn = "*"
scipy = "*"
bayesian-optimization = "*"
pytest = "*"
torch = "*"
