atomicwrites==1.1.5
attrs==18.1.0
bayesian-optimization==0.6.0
certifi==2022.12.7
chardet==3.0.4
comet-git-pure==0.19.6; python_version != "3.2.*"
comet-ml==1.0.26
idna==2.7
more-itertools==4.3.0
murmurhash3==2.3.5
netifaces==0.10.7
nltk==3.3.0
numpy==1.15.0
nvidia-ml-py3==7.352.0
pandas==0.23.4
pluggy==0.7.1
py==1.5.4
pytest==3.7.2
python-dateutil==2.7.3
pytz==2018.5
requests==2.19.1
scikit-learn==0.19.2
scipy==1.1.0
six==1.11.0
sklearn==0.0
toolz==0.9.0
torch==0.4.1.post2
tqdm==4.24.0
urllib3==1.23; python_version < "4"
websocket-client==0.50.0
wurlitzer==1.0.2
